body{
    padding: 100px;
}
.submit-area{
    padding: 40px;
    box-shadow: 10px 10px 30px lightblue;
    border-radius: 30px;
    margin-top: 50px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: tomato;
}
.balance{
    background-color: orange;
}
.status{
    margin: 5px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}